@import "helpers.css";
@import "reset.css";

html, body, .container, .container-fluid, .wrapper {
    min-height: 100%;
}

body {
    font-family: Agdasima;
    font-size: 16px;
    font-weight: 400;
    background: url("https://wallpapers.com/images/featured/pattern-4u7ed6koskqhcez1.jpg");
    background-size: contain;
    color: white;
    padding-top: 70px;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

header.container-fluid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: black;
    min-height: 50px;
    border-bottom: 1px solid white;
    color: gray;
}

header .container {
    min-height: 50px;
    padding: 10px 0;
    display: flex;
}

header svg {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

header nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

header nav a {
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
}

.wrapper .container {
    padding: 20px 20px 50px 20px;
    background: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.wrapper .container main, .wrapper .container > div {
    padding-top: 70px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    grid-auto-rows: minmax(400px, auto);
}

@media (min-width: 768px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .about-content {
        display: flex;
    }

    .about-content div:nth-child(2) {
        margin: 0 16px 20px 16px;
    }
}

.about-content > div {
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
}


form {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    form {
        width: 50%;
        margin: 0 auto;
    }
}

input, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    min-height: 30px;
    border: 3px solid gray;
}

textarea {
    resize: vertical;
}

button:hover {
    background: #e5e5e5;
}

form button {
    background: white;
    color: black;
}
